{% include 'base/base.html' %}
{% block title%} {%endblock %}
<center><h1>Lista de Libros API</h1></center>
{% include 'formulario_buscar.html' %}
{% block content %}
<div class="m-5">
    <table class="table">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Editor</th>
        <th scope="col">Feche de publicacion</th>
        <th scope="col">Accion</th>
        </thead>
        <tbody>
            {% if object_list %}
                {% for libro in object_list %}
                    <tr>
                        <th scope="row">{{ libro.id }} </th>
                        <td>{{ libro.titulo }} </td>
                        <td>{{ libro.editor.nombre }} </td>
                        <td>{{ libro.fecha_publicacion }}</td>
                        <td>
                            <a type="button" href="{%url 'libro_edit_api' libro.id %} " class="btn btn-primary"><img src="https://img.icons8.com/ios-glyphs/30/000000/edit--v4.png"/></a>
                            <a type="button" href="{%url 'libro_delete_api' libro.id %}" class="btn btn-danger"><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"/></a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>No hay registros de Libros</h1>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
