{%extends 'base/base.html' %}
{%block title%} Eliminar Libro {%endblock%}
{%block content%}
<form method="POST">
    <div class="m-4">
        {%csrf_token%}
        <h2>Deseas eliminar el libro de {{libro.titulo}} ?</h2>
        <button type="submit" class="btn btn-danger"><img src="https://img.icons8.com/ios-glyphs/64/000000/checkmark.png"/></button>
        {%if def%}
        <a type="button" href="{%url 'libro_funct_lista'%} " class="btn btn-primary"><img src="https://img.icons8.com/material-outlined/50/000000/cancel--v1.png"/></a>
        {%else%}
        <a type="button" href="{%url 'libro_lista'%} " class="btn btn-primary"><img src="https://img.icons8.com/material-outlined/50/000000/cancel--v1.png"/></a>
        {%endif%}
    </div>
   
</form>
{%endblock%}